:root {
    --card-color: hsla(0, 0%, 88%);
    --homework: yellow;
    --math: lightgreen;
    --deadline: red;
}

body {
    background-image: url(./media/3.png);
    background-position: bottom;
    height: 100vh;
    margin: 0;
}

.homework {
    background-color: var(--homework);
    font-weight: bold;
}

h5.card-title {
    font-size: 1.25rem;
}

.btn-homework {
    background-color: var(--homework);
}

.btn-subj-math {
    background-color: var(--math);
}

.btn-deadline {
    background-color: var(--deadline);
}


.timeline-container {
    background-color: black;
    width: 60px;
    height: inherit;
}

.card {
    background-color: var(--card-color);
}

.nav {
    z-index: 1;
}

.card.rounded {
    border-radius: .5rem !important;
}