
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --card-color: #edf2f4;
    --cardhover:#d7dddd;
    --homework: #e68fa1;
    --math: #b08ac9;
    --deadline: #6eaaf1;
    --fontcolor: black;
    --lvl: #f77779;
    --age: #ee976b;
    --exp: #65c0bd;
    --taskexp: #65c0bd;
}

[data-theme="dark"] {
    --card-color: #37393b;
    --cardhover: #515253;
    --homework: #b56576;
    --math: #6d597a;
    --deadline: #355070;
    --fontcolor: white;
    --lvl: #f94144;
    --age: #f9844a;
    --exp: #4d908e;
    --taskexp: #4d908e;
}

[data-theme="colorblind"]{
    animation: colorblindanimation 30s infinite;
    --card-color: #edf2f4;
    --cardhover:#d7dddd;
    --homework: #e68fa1;
    --math: #b08ac9;
    --deadline: #6eaaf1;
    --fontcolor: black;
    --lvl: #f77779;
    --age: #ee976b;
    --exp: #65c0bd;
    --taskexp: #65c0bd;
}

[data-theme="epilepsy"]{
    filter: saturate(50%);
    --card-color: #edf2f4;
    --cardhover:#d7dddd;
    --homework: #e68fa1;
    --math: #b08ac9;
    --deadline: #6eaaf1;
    --fontcolor: black;
    --lvl: #f77779;
    --age: #ee976b;
    --exp: #65c0bd;
    --taskexp: #65c0bd;
}

body {
    background-image: url(./media/3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    color: var(--fontcolor);
    font-family: 'Source Sans Pro', sans-serif, 'Times New Roman';
}

/* THEME SWITCH */

#accessibility-btn{
    background-color: #37393b;
    color: #ffffff;
}
#accessibility-btn:hover{
    background-color: #212224;
}

.theme-btn{
    text-decoration: none;
    border: none;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
}

.theme-btn:hover{
    background-color: #d7dddd;
}


.theme-text{
    border-top: 10px;
    text-align: center;
}




/* Information Card */

.card {
    margin-top:15px;
}

.card:hover{
    background-color: var(--cardhover);
}

#information-card-image img{
    width: 130px;
    border-radius: 10px;
}

h5.information-name{
    margin-top: 5px;
    font-size: 1.40rem; 
    font-weight: bold;
    letter-spacing: 1px;
}

#information .btn{
    color: var(--fontcolor);
    letter-spacing: 1px;
    display: inline;
    margin-top: 10px;
}

.btn-lvl{
    background-color: var(--lvl);
}
.btn-age{
    background-color: var(--age);
}
.btn-exp {
    background-color: var(--exp);
}


#myBar {
    width: 0%;
}

.progress-bar{
    width: "0";
}
/* Task Cards */

.card-title{
    width: 80%;
    margin:0;
}

h5.card-title {
    width: 87%;
    font-size: 1.40rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn {
    color: var(--fontcolor);
    margin-top: 10px;
    letter-spacing: 1px;
}

.btn-homework {
    background-color: var(--homework);
}

.btn-subj-math {
    background-color: var(--math);
}

.btn-exp{
    background-color: var(--taskexp);
}

.btn-deadline {
    background-color: var(--deadline);
}


.timeline-container {
    background-color: black;
    width: 60px;
    height: inherit;
}

.row .tasks p{
    animation: description-reveal .7s ease; 
}  

.hide p{
    display: none;
}

.card {
    background-color: var(--card-color);
    font-weight: 400; 
    overflow:hidden;
}

.list-icon {
    margin-top: 2px;
    width: 20px;
    height: 20px;
    transition-duration: 0.3s;
    color: var(--fontcolor);
} 

.rotate{
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.card .task-checkbox{
    position: absolute;
    right: 0px;
    top: 0; 
    text-align: right;
}

.card .task-checkbox .done{
    height: 30px;
    width: 30px; 
}


.row{
    flex-wrap: nowrap !important;
}
.col-md-6{
    margin-top: 10px;
    max-width: 90% !important;
    font-size: 1.1rem;
    letter-spacing: .3px;   
}

.list-text{
    width: 100%;
    margin: 0;
}

.nav {
    z-index: 1;
}

.card.rounded {
    border-radius: .5rem !important;
}

select,
option {
    color: black;
}


/* Keyframes */

@keyframes description-reveal {
    0%{
        margin-bottom: -100px; 
        opacity: 0;
    }

    30%{
        transform: rotateX(90deg);
        opacity: 0;
    }

    100%{
        opacity: 100; 
    }
}  

@keyframes colorblindanimation {
    0%{
        filter: hue-rotate(60deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    100%{
        filter: hue-rotate(60deg);
    }
}